.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 13rem;

  .profile {
    h1 {
      color: var(--mid-gray);
      font-size: 3.625rem;
      font-style: normal;
      font-weight: 700;
      line-height: 4.375rem;
    }

    #text-color {
      background: var(--gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    a {
      font-size: 1.8rem;
      margin-right: 1rem;
      color: var(--mid-gray);

      &:hover {
        color: var(--gray);
      }
    }
  }

  .pic-profile {
    display: flex;
    background: var(--gradient);
    border-radius: 14.375rem;
    border: 5px solid transparent;
    align-items: center;
    justify-content: center;

    #photo {
      display: flex;
      width: 21rem;
      height: 21rem;
    }
  }
}

@media (max-width: 966px) {
    .profile-container {
      padding: 0rem 2.5rem;
      .profile {
        h1 {
          font-size: 2.5rem;
        }
      }
      .pic-profile {
        #photo {
          display: flex;
          width: 12rem;
          height: 12rem;
        }
      }
    }
  }

@media (max-width: 772px) {
  .profile-container {
    flex-direction: column;
    margin-top: 7rem;

    .profile {


      h1 {
        font-size: 2.5rem;
      }
    }

    .pic-profile {
      margin-bottom: 3rem;
      order: -1;

      #photo {
        display: flex;
        width: 18rem;
        height: 18rem;
      }
    }
  }
}

@media (max-width: 490px) {

  .profile {
    margin-left: 4rem;
    margin-right: 4rem;
  }

}
