.home {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  

  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem 11rem;
    align-items: center;
    gap: 3rem;

    .page {
      display: flex;
      flex-direction: column;
    }

    footer {
      width: 100%;
      display: flex;
      margin-top: 10rem;
      color: var(--gray);
      margin-bottom: 2.5rem;
      justify-content: space-between;
      align-items: center;

    }

    .footerLinks {
      align-items: center;
      gap: 0.5rem;
    }

    .footerLinks {
      display: flex;
      gap: 0.5rem;
      margin-left: 5rem;

      a {
        font-size: 1.5rem;
        margin-right: 1rem;
        color: var(--gray);

        &:hover {
          color: var(--mid-gray);
        }
      }

    }

    .affter {
      height: 0.01rem;
      width: 100%;
      background-color: var(--footer);
      display: flex;
      justify-content: center;
    }

    .textFooter {
      color: var(--gray);
      margin-top: 1rem;
    }

    span {
      background: var(--gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .homeScroll {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 3rem;
    right: 2rem;

    color: var(--gray);
    background-color: var(--mid-gray);
    transition: 0.3s;

    &:hover {
      transform: scale(0.95);
    }
  }

  .btnScroll {
    display: flex;

    justify-content: flex-end;
    margin-right: 5rem;
  }

}

@media (max-width: 1154px) {
  main {
     .container{
      padding: 1rem 2rem;
    }
    
  }
}

@media (max-width: 600px) {
  .container {
    footer {
      display: flex;
      flex-direction: column;

      .logoFooter {
        display: none;
      }

      .footerLinks {
        margin-right: 2rem
      }
    }

    .textFooter {
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 490px) {
	.footerLinks {
		padding-right: 0.5rem;
	}
}

