.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
		background-color: transparent;

		p{
			background: var(--gradient);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: 700;
		}
}
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
	}
	
	.menu-icon {
		display: none;
		flex-direction: column;
		cursor: pointer;
	}
	
	.bar {
		width: 25px;
		height: 3px;
		background-color: white;
		margin: 3px 0;
	}
	
	.nav-list {
		list-style: none;
		display: flex;

		ul {
			margin-right: 20px;
		}
		
		 a {
			text-decoration: none;

			margin: 1rem;	
			color: var(--gray);
			text-align: center;
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.625rem;

			&:hover {
				color: var(--mid-gray);
			}
		}
	
	}
	

@media (max-width: 768px) {

	.menu {
		padding: 0rem 3.5rem;
	}
  .menu-icon {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
		gap: 1rem;
    top: 60px;
    left: 0;
    background-color: #181818e0;
    width: 100%;
    text-align: center;
  }

  .nav-list.open {
    display: flex;
  }
}

<<<<<<< HEAD
@media (max-width: 440px) {
  .menu {
    margin-left: 1rem;
    margin-right: 1rem;
  }
=======
@media (max-width: 490px) {
	.menu {
		margin-left: 3.5rem;
		margin-right: 3.5rem;
	}
>>>>>>> ee24c03b9d529b583669f41fef43e4d93e1d7011
}