.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;

	p {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }

	.nav-list{
		ul {
			display: flex;
      list-style-type: none;
		}

		a {
			text-decoration: none;

			margin: 1rem;	
			color: var(--gray);
			text-align: center;
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.625rem;
			}
		}
	}


@media (max-width: 650px) {
	.nav-list {
		display: none;

	}

	.menu-toggle {
		width: 40px;
		height: 30px;
		margin-right: 40px;

		
	}

	.one, .two, .three {
		background-color: #fff;
		height: 5px;
		width: 100%;
		margin: 6px auto;
		flex-direction: column;

		transition-duration: 0.3s;
	}

	.menu-section.on {
		position: absolute;
		top: 0;
		right: 0;

		background-color: #1b1b1b;


		width: 50vw;
		height: 70vw;

		

		z-index: 10;

		display: flex;
		justify-content: center;
		align-items: center;

		.nav-list {
			display: block;

			ul {
				display: block;
				text-align: center;
				margin-top: 5rem;
			}

			a{
				transition-duration: 0.5s;
				font-size: 1rem;
				line-height: 2rem;
				display: block;

				color: var(--gray);
				
		}
	}

	.menu-toggle {
		position: absolute;
		right: 0;
		top: 15px;

		.one {
				transform: rotate(45deg) translate(7px, 7px);
		}

		.two {
			opacity: 0;
		}

		.three {
			transform: rotate(-45deg) translate(8px, -9px);
		}
	}
}
}