.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;

  word-break: break-all;
  

  .about {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 1.5rem;



    h1 {
      color: var(--mid-gray);
    }

    p {
      color: var(--gray);
      width: 90%;
    }

    strong {
      color: var(--mid-gray);
    }
  }

  .about-profile {
    display: flex;
    margin-left: 5rem;
    

    #photo-about {
      width: 100%;
      height: 30rem;
      border-radius: 5rem 13rem;
    }
  }
}

@media (max-width: 900px) {
  main {
    .about-container {
      margin-top: 8rem;
    
      .about {
        align-items: center;
        justify-content: center;
        padding: 0rem 2.5rem;
        width: 100%;
      }
    .about-profile {
        display: none;
    }
    }
  }
}

@media (max-width: 490px) {
	.about-container {
		margin-left: 3rem;
    margin-right: 3rem;
	}
}